<stylesheet>
<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, Verdana;
  color: white;
  text-align: center;
  background-color: black;
  margin: 20px;
  padding:0;
  border-style: solid;
<img src="images/uno-cards.jpg" width = "150" alt="uno cards" />

}
h1{}